Q1: Tower of Hanoi Algorithm

The Tower of Hanoi is a classic problem involving three rods and a number of disks of different sizes. The goal is to move all the disks from one rod to another while following these rules:

Only one disk can be moved at a time.
Each move involves taking the top disk from one stack and placing it onto another stack.
No disk can be placed on top of a smaller disk.

In [1]:
def tower_of_hanoi(n, source, target, auxiliary):
    if n == 1:
        print(f"Move disk 1 from rod {source} to rod {target}")
        return
    tower_of_hanoi(n - 1, source, auxiliary, target)
    print(f"Move disk {n} from rod {source} to rod {target}")
    tower_of_hanoi(n - 1, auxiliary, target, source)

# Calling the function with 3 disks, source 'A', target 'C', and auxiliary 'B'
tower_of_hanoi(3, 'A', 'C', 'B')

Move disk 1 from rod A to rod C
Move disk 2 from rod A to rod B
Move disk 1 from rod C to rod B
Move disk 3 from rod A to rod C
Move disk 1 from rod B to rod A
Move disk 2 from rod B to rod C
Move disk 1 from rod A to rod C

Q2: Minimum Operations to Convert Words

In [2]:
def min_operations(word1, word2):
    m, n = len(word1), len(word2)
    dp = [[0] * (n + 1) for _ in range(m + 1)]
    for i in range(m + 1):
        for j in range(n + 1):
            if i == 0:
                dp[i][j] = j
            elif j == 0:
                dp[i][j] = i
            elif word1[i - 1] == word2[j - 1]:
                dp[i][j] = dp[i - 1][j - 1]
            else:
                dp[i][j] = 1 + min(dp[i][j - 1], dp[i - 1][j], dp[i - 1][j - 1])
    return dp[m][n]

# Test cases
print(min_operations("horse", "ros"))  # Output: 3
print(min_operations("intention", "execution"))  # Output: 5

3
5

Q3: Maximum Value in Array

In [3]:
arr = [13, 1, -3, 22, 5]
max_value = max(arr)
print(max_value)  # Output: 22

22

Q4: Sum of Array Values

In [4]:
arr = [92, 23, 15, -20, 10]
sum_values = sum(arr)
print(sum_values)  # Output: 120

120

Q5: Armstrong Number Check

In [6]:
def is_armstrong_number(n):
    num_str = str(n)
    num_digits = len(num_str)
    armstrong_sum = sum(int(digit) ** num_digits for digit in num_str)
    return armstrong_sum == n

# Test cases
print(is_armstrong_number(153))  # Output: True
print(is_armstrong_number(134))  # Output: False

True
False